:root {
  --light-blue: #27BDE0;
  --dark-blue: #000066;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

/*****  HEADER incl. NAVIGATION *****/

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#logo, #nav-bar {
  width: 100%;
}

#header-img {
  height: 50px;
}

#nav-bar ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

#nav-bar ul li {
  display: inline;
  text-transform: uppercase;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--light-blue);
  font-weight: bold;
}

/*****  LANDING SECTION *****/

#landing-img {
  max-height: 100vh;
  width: 100%;
}

/*****  ABOUT SECTION *****/

#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video {
  width: 100%;
  order: 2;
}

.info {
  box-sizing: border-box;
  width: 100%;
  order: 1;
  padding-left: 10px;
  font-size: 1.2em;
}

.fas, .far {
  color: var(--light-blue);
}

#inputEmail {
  padding: 5px;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  min-width: 250px;
}

#submit {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  font-weight: bold;
}

#submit:hover {
  background-color: var(--dark-blue);
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
}

form {
  margin-bottom: 20px;
}

/*****  MEDIA QUERIES *****/

@media (min-width: 500px) {
  #logo {
    width: 30%;
  }
  #nav-bar {
    width: 70%;
  }
  #nav-bar ul {
    text-align: right;
  }
}

@media (min-width: 800px) {
  .video {
    width: 50%;
    order: 1;
  }
  .info {
    width: 50%;
    order: 2;
  }
}

@media (min-width: 1200px) {
  header, main {
    width: 1200px;
    margin: auto;
  }
}