:root {
  --lignt-blue: #27BDE0;
}

body {
  margin: 0;
  padding: 0;
}

/*****  HEADER incl. NAVIGATION *****/

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#logo, #nav-bar {
  width: 100%;
}

@media (min-width: 500px) {
  #logo {
    width: 30%;
  }
  #nav-bar {
    width: 70%;
  }
  #nav-bar ul {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1200px;
    margin: auto;
  }
}

#header-img {
  height: 50px;
}

#nav-bar ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

#nav-bar ul li {
  display: inline;
  text-transform: uppercase;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--lignt-blue);
  font-weight: bold;
}

/*****  LANDING SECTION *****/

#landing-img {
  max-height: 100vh;
  width: 100%;
}